﻿      </div> <!-- container -->
   </div> <!-- end #MainView -->

    <footer>
        <a href="http://www.west-wind.com/" class="pull-right">
            <img src="~/images/WestwindText.png" />
        </a>
        <small>&copy; Your Company Here</small>
    </footer>

    <!-- slide in menu - Remove if you don't use it --> 
  	<nav class="slide-menu">
        <div style="padding: 10px 10px 10px 3px;">
            <a class="disabled">
                <i class="fa fa-home"></i>
                Main Menu
            </a>

            <a href="~/">
                <i class="fa fa-home"></i>
                Home
            </a>

            <a href="#" class="indented">
                <i class="fa fa-newspaper-o"></i>
                Sub Link
            </a>
            <a href="#" class="indented">
                <i class="fa fa-newspaper-o"></i>
                Sub Link 2
            </a>

            <a href="#">
                <i class="fa fa-rss-square"></i>
                Login
            </a>
        </div>
    </nav>
    
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>  
    <script>
        $(".slide-menu-toggle-open,.slide-menu-toggle-close," +
          ".slide-menu a, #SamplesLink")
        	.click(function () {
            	$(".slide-menu").toggleClass("active");
        	});
    </script>

</body>
</html>